/* general */
:root {
  --color-text: #eee;
  --color-primary: rgb(52, 63, 31);
  --color-primary-rgb: 52, 63, 31;
  --color-secondary: red;
  --color-mask: #777;
  --color-mask--light: #eee;
  --color-accent: purple;
  --ff-primary: "Roboto", sans-serif;
  --ff-alt: "Enriqueta", serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-family: var(--ff-primary);
  box-sizing: border-box;
}

body {
  margin: 0;
}
a {
  text-decoration: none;
}
/* typography */

h1,
h2,
h3,
h4 {
  margin: 0;
}
h1 {
  font-size: 2rem;
  font-family: var(--ff-alt);
}

/* useful */

.hidden {
  display: none;
}

.block--displayed {
  display: block;
}

/* navbar */

nav {
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100vw;
  z-index: 100;
}

.nav--scrolled {
  background-color: var(--color-text);
  box-shadow: 0 4px 6px -6px #222;
  color: var(--color-primary) !important;
}

.nav__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: var(--color-text);
  overflow: hidden;
}

.nav__container--open {
  overflow: visible;
}
.nav__title {
  padding-left: 1rem;
}

.nav__button--bars__container {
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  /* background-color: var(--color-primary); */
}
.nav__button--bars__container a {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.nav__button--bars,
.nav__button--bars::before,
.nav__button--bars::after {
  background: var(--color-text);
  display: inline-block;
  height: 2px;
  width: 18px;
}

.nav__button--bars--scrolled,
.nav__button--bars--scrolled::before,
.nav__button--bars--scrolled::after {
  background: var(--color-primary);
}

.nav__button--bars {
  position: relative;
  margin-left: 5px;
}

.nav__button--bars::before,
.nav__button--bars::after {
  content: "";
  position: absolute;
}

.nav__button--bars::before {
  top: 5px;
}

.nav__button--bars::after {
  top: -5px;
}

.nav__button__group {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  text-decoration: none;
  width: 100%;
  background-color: inherit;
  margin: 0;
  padding: 0;
}

.nav__button {
  text-align: center;
  padding-bottom: 1rem;
}

.nav__button a {
  color: inherit;
}

/* hero */

.hero__container {
  background-image: url("/img/bg1\ small.png");
  background-repeat: no-repeat;
  background-position: 53.5% 55%;
  background-color: var(--color-mask);
  background-attachment: fixed;
  background-blend-mode: multiply;
  min-height: 100vh;
}
.hero__content__container {
  position: absolute;
  height: 50%;
  width: 70%;
  top: 30%;
  left: 20%;
  color: var(--color-text);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.hero__container__title {
  width: 100%;
  font-size: 3rem;
}

.hero__container__subtitle {
  width: 100%;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.hero__container__btn {
  background-color: var(--color-text);
  color: var(--color-primary);
  display: inline-block;
  border-radius: 28px;
  border: 1px solid transparent;
  width: 10rem;
  margin-top: 1.75rem;
  height: 2.5rem;
  position: relative;
  left: -7%;
  padding: 0.5rem;
  font-weight: 700;
  text-align: center;
}

/* recipes */

.recipes__container {
  background-image: url("/img/bg2\ small.png");
  background-repeat: no-repeat;
  background-position: 75% 50%;
  height: 100vh;
}
.recipes__container .section-title {
  padding-top: 6rem;
}
.recipes__container .section-title h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  width: 85%;
  background-color: rgba(var(--color-primary-rgb), 0.66);
  color: var(--color-text);
  border-radius: 15px;
  padding: 1rem;
}

.card-group {
  width: 15rem;
  height: 25rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 6px 6px 9px rgba(38, 38, 38, 1);
}

.card {
  height: 3rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
  top: 3rem;
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.5);
}

#card-1 {
  top: 0rem;
}

#card-2 {
  top: 16rem;
}

.card img {
  width: 100%;
}

.card > .card-title {
  position: absolute;
  top: 1rem;
  width: 60%;
  margin-left: 20%;
  text-align: center;
  background-color: rgba(var(--color-primary-rgb), 0.66);
  color: var(--color-text);
  border-radius: 15px;
  padding: 0.2rem;
  font-size: 0.8rem;
}

.card > .card-subtitle {
  position: absolute;
  top: 9rem;
  width: 80%;
  margin-left: 10%;
  text-align: left;
  background-color: rgba(var(--color-primary-rgb), 0.66);
  color: var(--color-text);
  border-radius: 15px;
  padding: 0.5rem;
  font-size: 0.8rem;
}
@media (orientation: landscape) {
  .recipes__container {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .recipes__container .section-title {
    position: absolute;
    max-width: 12rem;
    left: 1rem;
    height: 100%;
    padding: 0;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-group {
    position: absolute;
    left: 21rem;
    top: 1rem;

    height: 20rem;
    width: 15rem;
    margin: 0;
  }

  .card {
    box-shadow: 3px 3px 8px rgba(38, 38, 38, 0.5);
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: relative;
  }
}
