*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


nav{
    background-image: url("avocado.png");
    background-color: #77b86a;
    
}
nav .container{
    width: 95%;
    
}

#logotext{
    vertical-align: middle;
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
    margin-left: 1em;
    text-decoration: none;

}


.navbar-menu{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
  }

.navbar-menu li {
    padding: 15px 5px;
    white-space: nowrap;
}

.navbar-menu li a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    display: block;
}
.navbar-menu li a:hover{
    text-decoration: underline;
}    

.toggle{
    cursor: pointer;
    order: 1;
}


.menu-item{
    text-align: center;
    width: 100%;
    display:none;
    order:2;
}
.menu-item.active{
    display:block;

}
.bars {
    background: white;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;

}

.bars::before,.bars::after{
    background:white;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;   
}

.bars::before{
    top: 5px;
}

.bars::after{
    top:-5px;
}
@media all and (min-width: 300px){
   

    #logo {
        flex: 1;
    }

}

@media all and (min-width: 768px){
    .menu-item{
        display: block;
        width: auto;
    }
    .toggle{
        display: none;
    }

    .navbar-menu li {
        padding: 15px 10px;
    }
    .navbar-menu{
        justify-content: flex-end;
    }
    #logo{
        float:left;
    }
}

.bg1{
    background-image: url("avo\ bg1.png");
    height: 300px;
}

.bg2{
    background-image: url("avo\ bg2.png");
    height: 300px;
    object-fit: contain;
}