*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Varela Round', sans-serif;
}


.navbar{
    z-index: 100;
    background-color: #EEE;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
}
.navbar .navbar-container{
    width: 95%;
    
}

#logotext{
    vertical-align: middle;
    color: #8e9864d5 ;
    font-size: 35px;
    font-weight: bold;
 
    margin-left: 1em;
    text-decoration: none;

}


.navbar-menu{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
  }

.navbar-menu li {
    padding: 15px 5px;
    white-space: nowrap;
}

.navbar-menu li a{
    text-decoration: none;

    font-size: 15px;
    font-weight: bold;
    color: #555;
    display: block;
}
.navbar-menu li a:hover{
    text-decoration: underline;
}    

.toggle{
    cursor: pointer;
    order: 1;
}


.menu-item{
    text-align: center;
    width: 100%;
    display:none;
    order:2;
}
.menu-item.active{
    display:block;

}
.bars {
    background: #555;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;

}

.bars::before,.bars::after{
    background:#555;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;   
}

.bars::before{
    top: 5px;
}

.bars::after{
    top:-5px;
}
@media all and (min-width: 300px){
   

    #logo {
        flex: 1;
    }

}

@media all and (min-width: 800px){
    .menu-item{
        display: block;
        width: auto;
    }
    .toggle{
        display: none;
    }

    .navbar-menu li {
        padding: 15px 10px;
    }
    .navbar-menu{
        justify-content: flex-end;
    }
    #logo{
        float:left;
    }
}

.bg1{
    background-image: url("bg2.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size:100% ;
    
}

.bg2{
    background-image: url("bg4.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size:100% ;
    
}
body .container{
    height: 2000px;
    align-content: center;
}



.bg1-container{
    position: absolute;
    bottom: 15%;
    color: #EEE;
    text-align: center;
    width: 100%;
   
}


.bg2-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.bg2-info-container{
    width: 50%;
    height: 85%;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}

.bg2-text-container{
    width: 50%;
    height: 12.5%;
    text-align: center;
    

}

.bg2-text-container h3{
    width: 70%;
    margin:1% auto auto auto;

}
.bg2-info-card{

    
    box-shadow: 3px 3px 8px rgba(38, 38, 38, 0.2);
    border-radius: 25px;
    width: 35%;
    height: 45%;
    transition: all 0.2s ease-out;
    cursor: pointer;
    position: relative;

    
}
.bg2-info-card .infocard-title-container h4{
    position: absolute;
    display: none;
    color: #eee;
    margin-top:10%;
}

.placeholder{
    left: -100%;
    
}
.bg2-info-card:hover{

    box-shadow: 6px 6px 8px 2px rgba(0,0,0,0.2);
    transform: scale(1.025);

}

.infocard-title-container{

    width: 70%;
    height: 15%;

    margin-top: 10%;
   
    /* the following three lines are only for demonstration purposes */
    background: rgba(142, 152, 100, 0.55); 
    
    
}

.bg2-info-card:active > .infocard-title-container h4 {
    display: inline;
    animation-name: animate-infocard-title;
    animation-duration: 0.75s;
    animation-fill-mode: forwards; 
}


@keyframes animate-infocard-title {
    
    from {
        left: 0%;
      }
    
      to {
        left: 10%;
        
      }
  }



#info-card-1{
    background-image: url("recipe1.png");
    background-position: center center;
    background-size:100% auto ;
    background-repeat: no-repeat;
}


#info-card-2{
    background-image: url("recipe2.png");
    background-position: center center;
    background-size:100% auto ;
    background-repeat: no-repeat;
}



#info-card-3{
    background-image: url("recipe3.png");
    background-position: center center;
    background-size:100% auto ;
    background-repeat: no-repeat;
}

#info-card-4{
    background-image: url("recipe4.png");
    background-position: center center;
    background-size:100% auto ;
    background-repeat: no-repeat;
}
h1, h2 {
    font-family: 'Cormorant Garamond', serif;
    color: #EEE;
    margin-bottom:1em;
}

h1{
    font-size: 55px;

}
h2{
    font-size: 40px;
}

h3{
    color: #2b2e1da1;
    font-size: 35px;
    font-weight: bold;
}

.bg1-order{
 
    background-color: #8e9864d5;
    border-radius:28px;
	border:1px solid #8e9864d5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size:20px;
    font-weight: bold;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
@media (max-width: 800px){
    .bg1-container{
        position: absolute;
        bottom: 5%;
        

    }  

    h1{
        font-size: 40px;
    
    }
    h2{
        font-size: 25px;
    }

    .bg1{
        background-position: center center;
        background-size:auto 100% ;
    }

    .bg1-overlay{
        background-blend-mode: multiply;
        background-color: #888;
    }
}
